@model WeightMeasurement.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-5">
        <h5>Sub Users <button id="subuser-add" class="btn btn-primary btn-sm float-right"><i class="fas fa-plus"></i> Add SubUser </button></h5> <hr>
        <div id="subusers">
            <partial name="_SubUserList" model="Model.SubUsers" />
        </div>
    </div>
    <div class="col-7">
        <div id="weights">
            <div class="alert alert-info" role="alert">
                Please click a button on the left to load subusers weights.
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    var userId = "@Model.UserId";
    </script>
    <script type="text/javascript" src="~/js/home-subuser.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/home-weights.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/home-graph-selecter.js" asp-append-version="true"></script>
}