@model WeightMeasurement.ViewModels.AdminViewModel


<h1> User Managment </h1>
<hr />

<div class="row">
    <div class="col-12">
        <table id="users-table" class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sub Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var su in Model.Users)
                {
                    var isChecked = "";
                    if(su.IsActive)
                    {
                        isChecked = "checked";
                    }

                    <tr>
                        <td>@su.Name</td>
                        <td>@su.Email</td>
                        <td>@su.SubUserCount</td>
                        <td>
                            <span class="float-right">
                                <a class="btn btn-outline-info btn-sm" href="/Home?userId=@su.Id"><i class="fas fa-eye"></i> View SubUser</a>
                                <input class="user-toggle" type="checkbox" @isChecked data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger"
                                       data-user-id="@su.Id" data-toggle="toggle" data-size="sm">
                            </span>                         
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/admin.js" asp-append-version="true"></script>
}
